@model IEnumerable<WebApplication3.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Search", "客戶聯絡人", FormMethod.Get, null))
{
    @Html.TextBox("Keyword", null, new { placeholder = "請輸入關鍵字" })
    @Html.DropDownList("classification", null, "請選擇", htmlAttributes: new { @class = "form-control" })
    <input type="submit" value="搜尋" />
    <input type="button" id="Export" value="匯出" />
    <input type="button" id="DisplayDAll" value="顯示刪除資料" />
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("職稱", "Sort", new { condition = "職稱", orderby = ViewBag.orderby })
        </th>
        <th>
            @Html.ActionLink("姓名", "Sort", new { condition = "姓名", orderby = ViewBag.orderby })
        </th>
        <th>
            @Html.ActionLink("Email", "Sort", new { condition = "Email", orderby = ViewBag.orderby })
        </th>
        <th>
            @Html.ActionLink("手機", "Sort", new { condition = "手機", orderby = ViewBag.orderby })
        </th>
        <th>
            @Html.ActionLink("電話", "Sort", new { condition = "電話", orderby = ViewBag.orderby })
        </th>
        <th>
            @Html.ActionLink("客戶名稱", "Sort", new { condition = "客戶資料.客戶名稱", orderby = ViewBag.orderby })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.手機)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })|
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<pre></pre>
@section Scripts {
    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
    <script type="text/javascript">
        var template = "";

        $("#Export").click(function () {
            $.get('@Url.Action("Export")', function ()
            {
                window.location.href = '@Url.Action("Export")';
            });
        });

        $("#DisplayDAll").click(function () {
            $.get('@Url.Action("DisplayDAll")', function (data)
            {
                $("pre").append(data);

                $.each(JSON.parse(data), function (index, val) {

                    $(".table").append('<tr>' +
                        '<td>' + val.職稱 + '</td>' +
                        '<td>' + val.姓名 + '</td>' +
                        '<td>' + val.Email + '</td>' +
                        '<td>' + val.手機 + '</td>' +
                        '<td>' + val.電話 + '</td>' +
                        '<td>' + val.客戶名稱 + '</td>' +
                        '</tr>');
                });
            });
            $("#DisplayDAll").prop("disabled", true);
        });
    </script>
}